body, html {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    padding: 30px;
}

img {
    max-width: 100%;
}

nav {
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    margin: 10px 0;
}

nav img {
    float: right;
}