@font-face {
    font-family: "Final Fantasy 3/6 Font Regular";
    src: url("final_fantasy_36_font.eot?") format("eot"), url("final_fantasy_36_font.woff") format("woff"), url("final_fantasy_36_font.ttf") format("truetype"), url("final_fantasy_36_font.svg#Final-Fantasy-3/6-Font") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HeinzHeinrich-Regular";
    src: url("HeinzHeinrich-Regular.eot?") format("eot"), url("HeinzHeinrich-Regular.woff") format("woff"), url("HeinzHeinrich-Regular.ttf") format("truetype"), url("HeinzHeinrich-Regular.svg#HeinzHeinrich-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-bg: #fff;
    --color-fg: #333;
    --color-link: cornflowerblue;
    --color-link-visited: #4e80dc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #333;
        --color-fg: #fff;
        --color-link: crimson;
        --color-link-visited: crimson;
    }
}

body, html {
    padding: 0;
    margin: 0;
}

body, html, code, pre {
    font-size: 14px;
    font-family: monospace;
}

html {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

body {
    padding: 30px;
    max-width: 960px;
}

img {
    max-width: 100%;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-visited);
}

ul {
    list-style: disc;
    margin-left: 20px;
    padding: 0;
}

nav {
    font-size: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li:first-child {
    padding-left: 0;
}

nav ul li:last-child {
    padding-right: 0;
}

nav img {
    float: right;
}

.metadata {
}

footer {
    margin-top: 30px;
}

.codehilite {
    padding: 10px;
    overflow: auto;
}

.codehilite pre {
    line-height: 1;
    margin: 0;
}

.codehilite pre code {
    font-family: monospace;
    font-size: 16px;
}

.codehilite + .codehilite {
    margin-top: 10px;
}

h1 {
    -webkit-font-smoothing: none;
    font-family: 'HeinzHeinrich-Regular', serif;
    font-size: 20px;
    margin-top: 30px;
}

h2, h3, h4, h5, h6 {
    font-size: 20px;
    font-weight: bold;
}

header .name {
    font-size: 20px;
    font-family: 'HeinzHeinrich-Regular', serif;
}

header .portrait {
    max-width: 64px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

@media (max-width: 640px) {
    h1 {
        margin-top: 10px;
    }

    nav ul li {
        display: block;
    }

    nav ul li {
        padding: 8px 0;
    }

    header .name {
        display: block;
        margin-bottom: 20px;
    }

    header .portrait {
        display: none;
    }
}
