:root {
    --color-bg: #fff;
    --color-fg: #333;
    --color-link: cornflowerblue;
    --color-link-visited: #4e80dc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #333;
        --color-fg: #fff;
        --color-link: crimson;
        --color-link-visited: crimson;
    }
}

body, html {
    padding: 0;
    margin: 0;
}

body, html, code, pre {
    font-size: 14px;
    font-family: monospace;
}

html {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

body {
    padding: 30px;
    max-width: 960px;
}

img {
    max-width: 100%;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-visited);
}

ul {
    list-style: disc;
    margin-left: 20px;
    padding: 0;
}

nav {
    font-size: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li:first-child {
    padding-left: 0;
}

nav ul li:last-child {
    padding-right: 0;
}

nav img {
    float: right;
}

.metadata {
}

footer {
    margin-top: 30px;
}

.codehilite {
    padding: 10px;
    overflow: auto;
}

.codehilite pre {
    line-height: 1;
    margin: 0;
}

.codehilite pre code {
    font-family: monospace;
    font-size: 16px;
}

.codehilite + .codehilite {
    margin-top: 10px;
}

.full-size-image {
    transition: all 0.3s;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    object-fit: contain;
}

.full-size-image.hidden {
    transform: translateX(-50%) translateY(-50%) scale(0) rotateZ(180deg);
    top: -80%;
}

.hidden {
    opacity: 0;
}

h1 {
    -webkit-font-smoothing: none;
    font-size: 20px;
    margin-top: 30px;
}

h2, h3, h4, h5, h6 {
    font-size: 20px;
    font-weight: bold;
}

header .name {
    font-size: 20px;
}

header .portrait {
    max-width: 64px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 640px) {
    h1 {
        margin-top: 10px;
    }

    nav ul li {
        display: block;
    }

    nav ul li {
        padding: 8px 0;
    }

    header .name {
        display: block;
        margin-bottom: 20px;
    }

    header .portrait {
        display: none;
    }
}
