<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="nsT3RSvlsBfDT50j64ssW5l2_EKvSqRqKrbk_e_4Qm4" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
    <title>{% block title %}Portfolio{% endblock %} - Michael Malura</title>

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/assets/tailwind.css">

    <!-- Syntax Highlighting -->
    <link rel="stylesheet" href="/assets/highlight.css">
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/assets/styles.css">

    <!-- Dark Mode Script -->
    <script>
        // Dark mode initialization
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>

    <script>
        const openAvatar = () => {
            let img = document.getElementById("overlay");

            if (!img) {
                img = document.createElement("img");
                img.id = "overlay";
                img.src = "/assets/michael_wasser.jpg";
                img.classList = "hidden full-size-image";
                img.onclick = () => img.classList = "hidden full-size-image";
                document.body.prepend(img);
                img.onload = () => img.classList = "full-size-image";
            } else {
                img.classList = img.classList.contains("hidden") ? "full-size-image" : "hidden full-size-image";
            }
        }
    </script>
</head>