{% extends 'root.html' %}
{% import 'helper_macros.html' as helper %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% if title %}
<h1>{{ title }}</h1>
{% endif %}
<ul>
    {% for entry in entries %}
        <li>
            <a href="{{ entry.url }}">({{ helper.render_date(entry.date) }}) {{ entry.title }}</a>
            {% if entry.teaser %}
            <div>
                {{ entry.teaser|safe }}
            </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
